.FifthSection {
  height: 102vh;
  width: 100vw;
  background-color: #111111;
}

.story-board {
  padding: 2rem;
  height: fit-content;
  width: inherit;
}

.story-content {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  color: black;
  margin-top: 1rem;
}

.sectioncon {
  padding-right: 3.5rem;
  margin-top: 1rem;
}

.landd {
  display: flex;
}

.launch {
  position: relative;
  top: 2rem;
  left: 5rem;
}

.decide {
  position: relative;
  top: 18rem;
  left: 35rem;
}

@media screen and (max-width: 1007px) {
  .launch {
    top: 8rem;
    left: 3rem;
  }

  .launchSvg {
    width: 400px;
    height: 400px;
  }

  .decide {
    top: 22.5rem;
    left: 13rem;
  }

  .decideSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 900px) {
  .launch {
    top: 8rem;
    left: 3rem;
  }

  .launchSvg {
    width: 400px;
    height: 400px;
  }

  .decide {
    top: 22.5rem;
    left: 13rem;
  }

  .decideSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 640px) {
  .launch {
    top: 13.5rem;
    left: 2rem;
  }

  .launchSvg {
    width: 200px;
    height: 200px;
  }

  .decide {
    top: 19.5rem;
    left: 5.5rem;
  }

  .decideSvg {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .launch {
    top: 6.5rem;
    left: 1.2rem;
  }

  .launchSvg {
    width: 200px;
    height: 200px;
  }

  .decide {
    top: 12.5rem;
    left: 3.5rem;
  }

  .decideSvg {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 370px) {
  .launch {
    top: 5.5rem;
    left: 0.5rem;
  }

  .launchSvg {
    width: 200px;
    height: 200px;
  }

  .decide {
    top: 11.5rem;
    left: 3.5rem;
  }

  .decideSvg {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 330px) {
  .launch {
    top: 0rem;
    left: 0.8rem;
  }

  .launchSvg {
    width: 180px;
    height: 180px;
  }

  .decide {
    top: 6.5rem;
    left: 3.5rem;
  }

  .decideSvg {
    width: 65px;
    height: 65px;
  }
}
