.FifthSection {
  height: 102vh;
  width: 100vw;
  background-color: #111111;
}

.story-board {
  padding: 2rem;
  height: fit-content;
  width: inherit;
}

.story-content {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  color: black;
  margin-top: 1rem;
}

.sectioncon {
  padding-right: 3.5rem;
  margin-top: 1rem;
}

.landd {
  display: flex;
}

.launch {
  position: relative;
  top: 2rem;
  left: 5rem;
}

.decide {
  position: relative;
  top: 18rem;
  left: 35rem;
}

@media screen and (max-width: 900px) {
  .launch {
    top: 15rem;
    left: 3rem;
  }

  .launchSvg {
    width: 400px;
    height: 400px;
  }

  .decide {
    top: 29.5rem;
    left: 13rem;
  }

  .decideSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .launch {
    top: 12rem;
    left: 2rem;
  }

  .launchSvg {
    width: 200px;
    height: 200px;
  }

  .decide {
    top: 18rem;
    left: 5rem;
  }

  .decideSvg {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .launch {
    top: 10rem;
    left: 1.5rem;
  }

  .launchSvg {
    width: 200px;
    height: 200px;
  }

  .decide {
    top: 16rem;
    left: 4rem;
  }

  .decideSvg {
    width: 100px;
    height: 100px;
  }
}
