.FirstSection {
  height: 100vh;
  width: 100vw;
}

.welcome {
  color: #39ff14;
  font-size: 4.5rem;
  font-weight: 900;
  font-family: "Ultra", serif;
  position: relative;
  left: 6rem;
  top: 13rem;
}

.welcome-small {
  font-size: 0.9rem;
  font-family: "BioRhyme", serif;
  margin-top: 0.5rem;
  color: #fff;
}

.yellow-big {
  color: #39ff14;
  display: inline-block;
}

.white-big {
  color: #fff;
  transition: 0.2s;
}

.white-big:hover {
  animation: neon 0.08s ease-in-out infinite alternate;
}

.welcome-btn {
  width: 20rem;
  height: 3rem;
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  color: #fff;
  border: 1px solid #39ff14;
  transition: 0.5s;
}

.welcome-btn:hover,
.welcome-btn:focus {
  box-shadow: inset 20rem 0 0 0 #39ff14;
  color: #111111;
  border-color: #39ff14;
}

.move-button-con {
  position: fixed;
  right: 7.5rem;
  bottom: 2.5rem;
  z-index: 1000;
}

.guy-portfolio {
  position: relative;
  left: 55rem;
  bottom: 12rem;
}

.first-alien {
  position: relative;
  left: 1rem;
  bottom: 55rem;
}

.second-alien {
  position: relative;
  left: 1rem;
  bottom: 25rem;
}

.moving {
  color: #fff;
}

@keyframes neon {
  from {
    text-shadow: 0 0 3px rgba(202, 228, 225, 0.92),
      0 0 20px rgba(202, 228, 225, 0.34), 0 0 2px rgba(57, 255, 20, 0.52),
      0 0 11px rgba(57, 255, 20, 0.92), 0 0 24px rgba(57, 255, 20, 0.78),
      0 0 44px rgba(57, 255, 20, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 20px rgba(202, 228, 225, 0.42), 0 0 2px rgba(57, 255, 20, 0.58),
      0 0 12px rgba(57, 255, 20, 0.84), 0 0 28px rgba(57, 255, 20, 0.88),
      0 0 50px rgba(57, 255, 20, 1);
  }
}

/* media queries max width 1400 */
@media screen and (max-width: 1400px) {
  .welcome {
    font-size: 3.5rem;
  }
  .welcome-small {
    font-size: 0.8rem;
  }
  .welcome-btn {
    width: 18rem;
    height: 2.5rem;
  }
  .move-button-con {
    right: 6rem;
    bottom: 2rem;
  }
  .guy-portfolio {
    left: 45rem;
    bottom: 10rem;
  }
  .first-alien {
    left: 1rem;
    bottom: 50rem;
  }
  .second-alien {
    left: 0.5rem;
    bottom: 28rem;
  }
  .guy-portfolio {
    left: 42rem;
    bottom: 12rem;
  }
}

@media screen and (max-width: 1007px) {
  .welcome {
    color: #39ff14;
    font-size: 2rem;
    left: 4rem;
    top: 23rem;
  }

  .welcome-small {
    font-size: 0.9rem;
    font-family: "BioRhyme", serif;
    margin-top: 0.5rem;
    color: #fff;
  }

  .welcome-btn {
    height: 3rem;
    font-size: 0.8rem;
  }

  .first-alien {
    left: 1rem;
    bottom: 15rem;
  }

  .firstAlien {
    width: 60px;
    height: 60px;
  }

  .second-alien {
    top: 5rem;
  }

  .secondAlien {
    width: 60px;
    height: 60px;
  }

  .guy-portfolio {
    left: 28rem;
    top: 8.5rem;
    bottom: 0;
  }

  .guy {
    width: 300px;
    height: 300px;
  }

  .move-button-con {
    right: 3rem;
  }

  .moveButton {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .welcome {
    color: #39ff14;
    font-size: 2rem;
    left: 4rem;
    top: 23rem;
  }

  .welcome-small {
    font-size: 0.9rem;
    font-family: "BioRhyme", serif;
    margin-top: 0.5rem;
    color: #fff;
  }

  .welcome-btn {
    height: 3rem;
    font-size: 0.8rem;
  }

  .first-alien {
    left: 1rem;
    bottom: 15rem;
  }

  .firstAlien {
    width: 60px;
    height: 60px;
  }

  .second-alien {
    top: 5rem;
  }

  .secondAlien {
    width: 60px;
    height: 60px;
  }

  .guy-portfolio {
    left: 28rem;
    top: 8.5rem;
    bottom: 0;
  }

  .guy {
    width: 300px;
    height: 300px;
  }

  .move-button-con {
    right: 3rem;
  }

  .moveButton {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .welcome {
    font-size: 1.1rem;
    left: 2rem;
    top: 23rem;
  }

  .welcome-small {
    font-size: 0.42rem;
  }

  .welcome-btn {
    width: 9rem;
    height: 1.5rem;
    font-size: 0.45rem;
  }

  .first-alien {
    left: 1rem;
    top: 0.1rem;
  }

  .firstAlien {
    width: 50px;
    height: 50px;
  }

  .second-alien {
    top: 15rem;
  }

  .secondAlien {
    width: 50px;
    height: 50px;
  }

  .guy-portfolio {
    left: 13.5rem;
    top: 15.5rem;
  }

  .guy {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 1.1rem;
    left: 1rem;
    top: 18rem;
  }

  .welcome-small {
    font-size: 0.42rem;
  }

  .welcome-btn {
    width: 9rem;
    height: 1.5rem;
    font-size: 0.45rem;
  }

  .first-alien {
    left: 0.5rem;
    top: -6rem;
  }

  .firstAlien {
    width: 50px;
    height: 50px;
  }

  .second-alien {
    top: 6rem;
  }

  .secondAlien {
    width: 50px;
    height: 50px;
  }

  .guy-portfolio {
    left: 11.4rem;
    top: 10rem;
  }

  .guy {
    width: 180px;
    height: 180px;
  }

  .move-button-con {
    right: 2rem;
  }

  .moveButton {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 370px) {
  .welcome {
    font-size: 1.1rem;
    left: 0.5rem;
    top: 18rem;
  }

  .welcome-small {
    font-size: 0.42rem;
  }

  .welcome-btn {
    width: 9rem;
    height: 1.5rem;
    font-size: 0.45rem;
  }

  .first-alien {
    left: 0.5rem;
    top: -6rem;
  }

  .firstAlien {
    width: 50px;
    height: 50px;
  }

  .second-alien {
    top: 6rem;
  }

  .secondAlien {
    width: 50px;
    height: 50px;
  }

  .guy-portfolio {
    left: 11rem;
    top: 10rem;
  }

  .guy {
    width: 180px;
    height: 180px;
  }

  .move-button-con {
    right: 2rem;
  }

  .moveButton {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 330px) {
  .welcome {
    font-size: 1rem;
    left: 0.5rem;
    top: 14rem;
  }

  .welcome-small {
    font-size: 0.4rem;
  }

  .welcome-btn {
    width: 8rem;
    height: 1.5rem;
    font-size: 0.45rem;
  }

  .first-alien {
    left: 0.5rem;
    top: -7rem;
  }

  .firstAlien {
    width: 40px;
    height: 40px;
  }

  .second-alien {
    top: 5rem;
  }

  .secondAlien {
    width: 40px;
    height: 40px;
  }

  .guy-portfolio {
    left: 10.2rem;
    top: 7rem;
  }

  .guy {
    width: 150px;
    height: 150px;
  }

  .move-button-con {
    right: 2rem;
  }

  .moveButton {
    width: 30px;
    height: 30px;
  }
}
