.FourthSection {
  height: 101vh;
  width: 100vw;
  background-color: #111111;
}

.story-board {
  height: fit-content;
  width: inherit;
}

.story-content {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  color: black;
  margin-top: 1rem;
}

.sectioncon {
  padding-right: 3.5rem;
  margin-top: 1rem;
}

.tandm {
  display: flex;
}

.three {
  position: relative;
  top: 17rem;
  left: 3rem;
}

.mind {
  position: relative;
  top: 7.5rem;
  left: 30rem;
}

@media screen and (max-width: 1007px) {
  .three {
    position: relative;
    top: 22.5rem;
    left: 3.5rem;
  }

  .threeSvg {
    width: 150px;
    height: 150px;
  }

  .mind {
    position: relative;
    top: 10rem;
    left: 12rem;
  }

  .mindSvg {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .three {
    position: relative;
    top: 22.5rem;
    left: 3.5rem;
  }

  .threeSvg {
    width: 150px;
    height: 150px;
  }

  .mind {
    position: relative;
    top: 10rem;
    left: 12rem;
  }

  .mindSvg {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .three {
    position: relative;
    top: 17.5rem;
    left: 2rem;
  }

  .threeSvg {
    width: 100px;
    height: 100px;
  }

  .mind {
    position: relative;
    top: 12.5rem;
    left: 5.5rem;
  }

  .mindSvg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .three {
    position: relative;
    top: 11rem;
    left: 1rem;
  }

  .threeSvg {
    width: 100px;
    height: 100px;
  }

  .mind {
    position: relative;
    top: 6rem;
    left: 3.5rem;
  }

  .mindSvg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 370px) {
  .three {
    position: relative;
    top: 11rem;
    left: 1rem;
  }

  .threeSvg {
    width: 100px;
    height: 100px;
  }

  .mind {
    position: relative;
    top: 6rem;
    left: 2.8rem;
  }

  .mindSvg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 330px) {
  .three {
    position: relative;
    top: 5.5rem;
    left: 1rem;
  }

  .threeSvg {
    width: 65px;
    height: 65px;
  }

  .mind {
    position: relative;
    top: 0rem;
    left: 2.8rem;
  }

  .mindSvg {
    width: 180px;
    height: 180px;
  }
}
