.SecondSection {
  height: 100vh;
  width: 100vw;
  background-color: #111111;
}

.story-board {
  padding: 2rem;
  height: fit-content;
  width: inherit;
}

.story-title {
  font-size: 1.2rem;
  font-family: "JetBrains Mono", monospace;
}

.caret {
  display: inline-block;
  opacity: 0;
}

.content {
  font-size: large;
}

.abduction {
  position: relative;
  left: 85rem;
  bottom: 4rem;
}

.thinking {
  position: relative;
  left: 3rem;
  top: 10rem;
}

.story-content {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  color: black;
  padding-right: 1rem;
  margin-top: 1rem;
}

.SecondSection1 {
  height: 102vh;
  width: 100vw;
  background-color: #111111;
}

.sc1 {
  width: 100vw;
  background-color: #fff;
}

.sectioncon {
  margin-top: 1rem;
  padding-right: 5.5rem;
}

.second {
  background-color: #fff;
  padding: 2rem;
  width: 95vw;
}

.true-love {
  position: relative;
  left: 1rem;
  bottom: 22rem;
}

.coding {
  position: relative;
  left: 55rem;
  top: 1rem;
}

/* media queries max width 1400 */
@media screen and (max-width: 1400px) {
  .true-love {
    position: relative;
    left: 1rem;
    bottom: 18rem;
  }
}

@media screen and (max-width: 1007px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 2rem;
  }

  .thinking {
    left: 3rem;
    top: 17rem;
  }

  .thinkingSvg {
    height: 344px;
    width: 406px;
  }

  .abduction {
    left: 38rem;
    bottom: 0;
    top: 1rem;
  }

  .abductionSvg {
    width: 150px;
    height: 150px;
  }

  .true-love {
    bottom: 0rem;
    top: 9rem;
    left: 4rem;
  }

  .trueLove {
    width: 150px;
    height: 150px;
  }

  .coding {
    left: 27rem;
    top: 20rem;
  }

  .codingSvg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 2rem;
  }

  .thinking {
    left: 3rem;
    top: 17rem;
  }

  .thinkingSvg {
    height: 344px;
    width: 406px;
  }

  .abduction {
    left: 38rem;
    bottom: 0;
    top: 1rem;
  }

  .abductionSvg {
    width: 150px;
    height: 150px;
  }

  .true-love {
    bottom: 0rem;
    top: 9rem;
    left: 4rem;
  }

  .trueLove {
    width: 150px;
    height: 150px;
  }

  .coding {
    left: 27rem;
    top: 20rem;
  }

  .codingSvg {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 640px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 0.8rem;
  }

  .thinking {
    left: 2rem;
    top: 11rem;
  }

  .thinkingSvg {
    height: 180px;
    width: 210px;
  }

  .abduction {
    left: 18rem;
    bottom: -2rem;
    top: 1.5rem;
  }

  .abductionSvg {
    width: 100px;
    height: 100px;
  }

  .true-love {
    bottom: 0;
    top: 9.5rem;
    left: 2rem;
  }

  .trueLove {
    width: 100px;
    height: 100px;
  }

  .coding {
    left: 14.8rem;
    top: 16.5rem;
  }

  .codingSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 0.9rem;
  }

  .thinking {
    left: 1rem;
    top: 3rem;
  }

  .thinkingSvg {
    height: 220px;
    width: 220px;
  }

  .abduction {
    left: 16rem;
    top: -7.5rem;
  }

  .abductionSvg {
    width: 100px;
    height: 100px;
  }

  .true-love {
    bottom: 0rem;
    top: 4rem;
    left: 1.5rem;
  }

  .trueLove {
    width: 100px;
    height: 100px;
  }

  .coding {
    left: 12rem;
    top: 10.5rem;
  }

  .codingSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 370px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 0.6rem;
  }

  .thinking {
    left: 1rem;
    top: 1rem;
  }

  .thinkingSvg {
    height: 220px;
    width: 220px;
  }

  .abduction {
    left: 15.5rem;
    top: -9.5rem;
  }

  .abductionSvg {
    width: 100px;
    height: 100px;
  }

  .true-love {
    bottom: 0rem;
    top: 4rem;
    left: 1.5rem;
  }

  .trueLove {
    width: 100px;
    height: 100px;
  }

  .coding {
    left: 12rem;
    top: 10.5rem;
  }

  .codingSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 330px) {
  .story-content {
    padding-right: 0.14rem;
  }

  .second {
    padding: 0.5rem;
  }

  .thinking {
    left: 1rem;
    top: -1.2rem;
  }

  .thinkingSvg {
    height: 100px;
    width: 100px;
  }

  .abduction {
    left: 15.5rem;
    top: -6.2rem;
  }

  .abductionSvg {
    width: 50px;
    height: 50px;
  }

  .true-love {
    bottom: 0rem;
    top: 0;
    left: 1rem;
  }

  .trueLove {
    width: 80px;
    height: 80px;
  }

  .coding {
    left: 9rem;
    top: 6.2rem;
  }

  .codingSvg {
    width: 150px;
    height: 150px;
  }
}
