.ThirdSection {
  height: 101.5vh;
  width: 100vw;
  background-color: #111111;
}

.story-board {
  padding: 2rem;
  height: fit-content;
  width: inherit;
  background-color: #fff;
}

.story-content {
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  color: black;
  margin-top: 1rem;
}

.sectioncon {
  padding-right: 3.5rem;
  margin-top: 1rem;
}

.sandt {
  display: flex;
}

.skills {
  position: relative;
  left: 4rem;
  bottom: 3rem;
}

.team {
  position: relative;
  top: 20rem;
  left: 30rem;
}

@media screen and (max-width: 1007px) {
  .sandt {
    position: relative;
    top: 10.5rem;
  }

  .skills {
    left: 2.5rem;
  }

  .skillsSvg {
    width: 500px;
    height: 500px;
  }

  .team {
    top: 10rem;
    left: 6.5rem;
  }

  .teamSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 900px) {
  .sandt {
    position: relative;
    top: 10.5rem;
  }

  .skills {
    left: 2.5rem;
  }

  .skillsSvg {
    width: 500px;
    height: 500px;
  }

  .team {
    top: 10rem;
    left: 6.5rem;
  }

  .teamSvg {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 640px) {
  .sandt {
    position: relative;
    top: 17.5rem;
  }

  .skills {
    left: 2rem;
  }

  .skillsSvg {
    width: 250px;
    height: 250px;
  }

  .team {
    top: 3.5rem;
    left: 3.3rem;
  }

  .teamSvg {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 400px) {
  .sandt {
    position: relative;
    top: 10rem;
  }

  .skills {
    left: 0.5rem;
  }

  .skillsSvg {
    width: 250px;
    height: 250px;
  }

  .team {
    top: 3rem;
    left: 2rem;
  }

  .teamSvg {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 370px) {
  .sandt {
    position: relative;
    top: 10rem;
  }

  .skills {
    left: 0.5rem;
  }

  .skillsSvg {
    width: 250px;
    height: 250px;
  }

  .team {
    top: 3rem;
    left: 1rem;
  }

  .teamSvg {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 330px) {
  .sandt {
    position: relative;
    top: 7rem;
  }

  .skills {
    left: 1rem;
  }

  .skillsSvg {
    width: 200px;
    height: 200px;
  }

  .team {
    top: 3rem;
    left: 2.65rem;
  }

  .teamSvg {
    width: 50px;
    height: 50px;
  }
}
