.Work {
  color: #fff;
}

.projects {
  position: relative;
  bottom: 11rem;
  margin-top: 11rem;
  margin-left: 14rem;
}

.project-title {
  position: relative;
  right: 6.5rem;
  font-size: 5rem;
  font-family: "Ultra", serif;
  margin-bottom: 8rem;
}

.project-chars:hover {
  animation: neon 0.08s ease-in-out infinite alternate;
}

.green {
  color: #39ff14;
  display: inline-block;
}

.box {
  height: 4rem;
  color: #fff;
  margin-bottom: 7rem;
  background-color: transparent;
  z-index: -1;
}

.pop-link {
  text-decoration: none;
}

.name {
  position: relative;
  top: 3rem;
  right: 5rem;
  font-size: 3.5rem;
  font-weight: 1000;
  font-family: "JetBrains Mono", monospace;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.name:hover {
  letter-spacing: 0.8rem;
  right: 3rem;
  transition: 1s;
  -webkit-text-fill-color: #fff;
}

hr {
  position: relative;
  right: 7rem;
  color: #fff;
  width: 85rem;
}

.contact {
  color: #39ff14;
  position: relative;
  top: 3rem;
  left: 25rem;
  display: flex;
  justify-content: space-around;
  width: 50rem;
  margin-left: 3rem;
  font-family: "JetBrains Mono", monospace;
}

.contact-sm {
  color: #39ff14;
  position: relative;
  top: 0rem;
  bottom: 10rem;
  left: 3rem;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin-left: 2rem;
  font-size: 0.6rem;
  font-family: "JetBrains Mono", monospace;
}

.mail {
  position: relative;
  bottom: 4rem;
}

.mail > a {
  text-decoration: none;
  transition: margin 0.25s;
  color: #39ff14;
}

.github {
  position: relative;
  bottom: 4rem;
}

.github > a {
  text-decoration: none;
  transition: margin 0.25s;
  color: #39ff14;
}

.linkedin {
  position: relative;
  bottom: 4rem;
}

.linkedin > a {
  text-decoration: none;
  transition: margin 0.25s;
  color: #39ff14;
}

.twitter {
  position: relative;
  bottom: 4rem;
}

.twitter > a {
  text-decoration: none;
  transition: margin 0.25s;
  color: #39ff14;
}

.ct-line {
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.m-line {
  width: 6.8rem;
  height: 5rem;
  position: relative;
  top: 1.5rem;
  right: 1.2rem;
}

.git-line {
  width: 6.8rem;
  height: 5rem;
  position: relative;
  top: 1.5rem;
  right: 1.7rem;
}

.lin-line {
  width: 6.8rem;
  height: 5rem;
  position: relative;
  top: 1.5rem;
  right: 2.3rem;
}

.tw-line {
  width: 6.8rem;
  height: 5rem;
  position: relative;
  top: 1.5rem;
  right: 2rem;
}

.ct-line:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

.rocket-tr {
  position: relative;
  top: 1.5rem;
  right: 8rem;
}

@media screen and (max-width: 1007px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.5rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 5rem;
  }

  .name {
    top: 2.5rem;
    right: 5rem;
    font-size: 1.2rem;
  }

  hr {
    right: 10rem;
    width: 60rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .Work {
    height: 150vh;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.5rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 5rem;
  }

  .name {
    top: 2.5rem;
    right: 5rem;
    font-size: 1.2rem;
  }

  hr {
    right: 10rem;
    width: 60rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .Work {
    height: 150vh;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 640px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.6rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 7rem;
  }

  .name {
    top: 3rem;
    right: 5rem;
    font-size: 1.3rem;
  }

  hr {
    right: 7rem;
    width: 21.5rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .Work {
    height: 150vh;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.6rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 7rem;
  }

  .name {
    top: 3rem;
    right: 5rem;
    font-size: 1.3rem;
  }

  hr {
    right: 7rem;
    width: 19.2rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .rocket {
    width: 110px;
    height: 110px;
  }

  .Work {
    height: 180vh;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 370px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.6rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 7rem;
  }

  .name {
    top: 3rem;
    right: 5rem;
    font-size: 1.3rem;
  }

  hr {
    right: 7rem;
    width: 18rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .rocket {
    width: 110px;
    height: 110px;
  }

  .Work {
    height: 180vh;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 330px) {
  .projects {
    position: relative;
    bottom: 11rem;
    margin-top: 11rem;
    margin-left: 9rem;
  }

  .project-title {
    right: 6.5rem;
    font-size: 1.5rem;
    font-family: "Ultra", serif;
    margin-bottom: 8rem;
  }

  .box {
    height: 1.5rem;
    margin-bottom: 7rem;
  }

  .name {
    top: 3rem;
    right: 5rem;
    font-size: 1.2rem;
  }

  hr {
    right: 7rem;
    width: 15.5rem;
  }

  .mail {
    right: 2rem;
    bottom: 4rem;
  }

  .github {
    right: 3.5rem;
    bottom: 4rem;
  }

  .linkedin {
    right: 4.5rem;
    bottom: 4rem;
  }

  .twitter {
    right: 5rem;
    bottom: 4rem;
  }

  .ct-line {
    opacity: 0;
  }

  .m-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    left: 5rem;
  }

  .git-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
  }

  .lin-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2.3rem;
  }

  .tw-line {
    width: 6.8rem;
    height: 5rem;
    position: relative;
    top: 1.5rem;
    right: 2rem;
  }

  .rocket {
    width: 110px;
    height: 110px;
  }

  .contact-sm {
    top: 0rem;
    bottom: 10rem;
    left: 1.4rem;
    margin-left: 2rem;
    font-size: 0.6rem;
    font-family: "JetBrains Mono", monospace;
  }

  .Work {
    height: 250vh;
    overflow-y: hidden;
  }
}
