.Work {
  color: #fff;
}

.projects {
  margin-top: 11rem;
  margin-left: 14rem;
}

.project-title {
  position: relative;
  right: 6.5rem;
  font-size: 5rem;
  font-family: "Ultra", serif;
  margin-bottom: 8rem;
}

.project-chars:hover {
  animation: neon 0.08s ease-in-out infinite alternate;
}

.green {
  color: #39ff14;
}

.box {
  height: 4rem;
  color: #fff;
  margin-bottom: 7rem;
  background-color: transparent;
  z-index: -1;
}

.name {
  position: relative;
  top: 3rem;
  right: 5rem;
  font-size: 3.5rem;
  font-weight: 1000;
  font-family: "JetBrains Mono", monospace;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.name:hover {
  letter-spacing: 0.8rem;
  right: 3rem;
  transition: 1s;
  -webkit-text-fill-color: #fff;
}

hr {
  position: relative;
  right: 7rem;
  color: #fff;
  width: 85rem;
}
