.App {
  background-color: #111111;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  color: #39ff14;
  background-color: transparent;
  font-size: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 1rem;
  padding-right: 5rem;
  z-index: 1000;
}

.link {
  width: 4rem;
  font-size: 0.85rem;
  font-family: "JetBrains Mono", monospace;
  padding: 0.2rem;
  border: none;
  color: #fff;
  background-color: transparent;
  transition: 0.5s;
  text-decoration: none;
  text-decoration-color: transparent;
  text-align: center;
}

.story {
  margin-right: 1rem;
  position: relative;
}

.link:hover {
  box-shadow: inset 0 -2rem 0 0 #39ff14;
  color: #111111;
}

.active {
  width: 4rem;
  font-size: 0.85rem;
  font-family: "JetBrains Mono", monospace;
  padding: 0.2rem;
  border: none;
  background-color: transparent;
  transition: 1s;
  color: #fff;
  text-align: center;
}

.active1 {
  width: 4rem;
  font-size: 0.85rem;
  font-family: "JetBrains Mono", monospace;
  padding: 0.2rem;
  border: none;
  background-color: transparent;
  transition: 1s;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1007px) {
  header {
    font-size: 0.9rem;
    left: 40rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    font-size: 0.9rem;
    left: 40rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  header {
    font-size: 0.9rem;
    left: 10rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 0rem;
    left: 4rem;
  }

  .active {
    position: relative;
    right: 21rem;
  }

  .active1 {
    position: relative;
    right: 2.5rem;
  }

  .link {
    position: relative;
    right: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  header {
    font-size: 0.9rem;
    left: 10rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 0;
    left: 2rem;
  }

  .active {
    position: relative;
    right: 0;
    left: 2rem;
  }

  .active1 {
    position: relative;
    right: 1.5rem;
  }

  .link {
    position: relative;
    right: 1.5rem;
  }
}

@media screen and (max-width: 370px) {
  header {
    font-size: 0.9rem;
    left: 10rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 0;
    left: 2rem;
  }

  .active {
    position: relative;
    right: 0;
    left: 2rem;
  }

  .active1 {
    position: relative;
    right: 0.1rem;
  }

  .link {
    position: relative;
    right: 0.2rem;
  }
}

@media screen and (max-width: 330px) {
  header {
    font-size: 0.9rem;
    left: 10rem;
    top: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .story {
    margin-right: 2.5rem;
    left: 2rem;
  }

  .active {
    position: relative;
    right: 0;
    left: 2rem;
  }

  .active1 {
    position: relative;
    right: 0.1rem;
  }

  .link {
    position: relative;
    right: 0.1rem;
  }
}
