@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("/src/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "BioRhyme";
  src: local("BioRhyme"),
    url("/src/fonts/BioRhyme/BioRhyme-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ultra";
  src: local("Ultra"),
    url("/src/fonts/Ultra/Ultra-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Ultra",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scrollbar-color: #39ff14 transparent;
}
